#contenido{
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(3, 105, 3, 0.2);  
   
}

.btn{
    background: rgba(2, 99, 15, 0.2);  

}

.table{
    background: rgba(3, 138, 26, 0.2);
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin: 1px;
}